# EditorConfig for C# code style

# top-most EditorConfig file
root = true

# C# files
[*.cs]

# Indentation (1 tab = 4 spaces)
indent_style = tab
indent_size = 4
tab_width = 4

# Expression-bodied members enforced
csharp_style_expression_bodied_methods = always:warning
csharp_style_expression_bodied_properties = always:warning
csharp_style_expression_bodied_indexers = always:warning
csharp_style_expression_bodied_constructors = always:warning
csharp_style_expression_bodied_operators = always:warning

# Prefer 'var' everywhere
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = false:warning

# Use pattern matching
csharp_style_prefer_pattern_matching = true:warning

# Prefer 'is' pattern matching
csharp_style_pattern_matching_over_as_with_null_check  = true:warning

# all namespaces should be file-scoped
csharp_style_namespace_declarations = file_scoped